<html>
<head>
<title>{{ vm.fqdn }}</title>
<style>
    body {
	text-align: center;
	font-size: 24;
        font-family: courier;
    }
</style>
</head>
<body>
<h2>job: core</h1>
<h2>project/meta/app: {{ project_meta.app }}</h1>
</body>
</html>
