<html>
<head>
<title>{{ vm.fqdn }}</title>
<style>
    body {
	text-align: center;
	font-size: 24;
        font-family: monaco;
    }
</style>
</head>
<body>
<h1>project: {{ project.name }} / {{ project.env }}</h1>
<h2>job: core</h2>
<h2> ----------------------------- </h2>
<h2>app: {{ project_meta.app }}</h2>
<h2> ----------------------------- </h2>
</body>
</html>
