<html>
<head>
<title>{{ vm.fqdn }}</title>
<style>
    body {
	text-align: center;
	font-size: 20;
        font-family: monaco;
    }
</style>
</head>
<body>
<h1>project: {{ project.name }} / {{ project.env }}</h1>
<h2>job: deploy</h2>
<h2> ----------------------------- </h2>
<h2>app: {{ job_meta.app }}</h2>
<h2>secret/zalupa: {{ secret.zalupa }}</h2>
<h2>secret/zopa: {{ secret.zopa }}</h2>
<h2>tmp/www_install_nginx0: {{ tmp.www_install_nginx0 }}</h2>
<h2>tmp/www_install_nginx1: {{ tmp.www_install_nginx1 }}</h2>
<h2>tmp/www_install_nginx2: {{ tmp.www_install_nginx2 }}</h2>
<h2> ----------------------------- </h2>
<h2>vm_location: {{ vm.dc }} / {{ vm.cluster }} / {{ vm.location }}</h2>
<h2>vm_name: {{ vm.name }} </h2>
<h2>cluster_meta/ns1: {{ cluster_meta.ns1 }} </h2>
<h2>ifconfig_me: {{ ifconfig_me.stdout_lines[0] }} </h2>
</body>
</html>
